<section class="contact">
    <app-heading-star-style [portfoliocColor]="'#2c3e50'" class="text-center heading-comp" [headingTitle]="'Conatct Section'"></app-heading-star-style>
    <form>
        <input type="text" class="form-control mb-5" placeholder="userName">
        <input type="number" class="form-control  mb-5" placeholder="userAge">
        <input type="email" class="form-control  mb-5" placeholder="userEmail">
        <input type="password" class="form-control  mb-5" placeholder="userPassword">
        <button class="custom-color">Send Message</button>
    </form>
</section>

