<section class="about">
    <div class="graphic">
        <app-heading-star-style [headingTitle]="'about component'"></app-heading-star-style>
    </div>
    <div class="text-group mt-3">
        <p class="left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto quidem commodi enim nam officia, quasi nobis libero odio delectus.
        </p>
        <p class="right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, optio recusandae. At vel eaque soluta. Excepturi temporibus aliquam quam facere!
        </p>
    </div>
</section>
